.thetable {
    width:100%;
	text-align:left;
	margin-bottom:60px;
	font-size:normal;
}

.thetable  a{ 
	text-decoration: none !important; 
}

.thetable .edit{padding:0px;}

.thetable th{
	text-align:left; 
}

.thetable td, .thetable th{
	border:1px solid; 
	border-color:#E7E5DC;  
	min-width:30px; 
}

#slidingDiv {	
	position:absolute;
	top: 590px;
    display: none;
}

.theprint{
    margin: 20px 20px 0;
    padding: 0 0 20px;	
}

.therows odd:hover{
    background:#CCFFCC;
    color: #000000;
}

.thetable input[type="text"]{
	border: none; 
	width: 93%;
}

.thetable textarea{
	border:none;
	width:200px;
	max-width:200px;
	min-width:200px;
	padding-top:2px;
}

.thetable .tdinfo{
	padding:0;
}

.search_urls{
	width:100%; 
	text-align:center; 
	padding-bottom:20px;
}

.delete_alert{
	color:#993300; 
	text-align:center; 
	font-weight:bold;
}

.delete_box{
	width:100%; 
	margin:auto;
}
.delete_buttons{
	text-align:center;
}

a.pop{
    position:relative; /*this is the key*/
    z-index:24; 
    color:#000;
    text-decoration:none
}
a.pop:hover{z-index:25;}

a.pop .ainfo{display: none}

a.pop:hover .ainfo{ /*the span will display just on :hover state*/
    display:block; 
	position:absolute;
	top:-80px; 
	left:20px;
	border:1px solid #E7E5DC;
	background-color:#fff; 
	color:#000; 
	padding:8px;
	text-decoration:none;
	-moz-box-shadow: 0px 0px 8px #666666;
	-webkit-box-shadow: 0px 0px 8px #666666;
	box-shadow: 0px 0px 8px #666666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#666666')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#808080');
}
	
.messages {
	display:none;
	position:absolute;
	top: 600px;
}

.messages2 {
	display:none;
	background:#FFF;
	padding-top: 50px
}

#trigger1 {display:inline-block; position:absolute;left:210px;top:55px;margin-bottom:20px;}
#trigger2 {display:inline-block; position:absolute;left:350px;top:55px;}

#custom_urls_tab { background: #fff;  margin: 0 0 25px 0;}

#custom_urls_tab .nav { overflow: hidden; margin: 0 0 10px 0; }
#custom_urls_tab .nav li { width: 130px; float: left; margin: 0 10px 0 0; }
#custom_urls_tab .nav li.last { margin-right: 0; }
#custom_urls_tab .nav li a { display: block; padding: 5px; text-align: center; border: 0; color:#000; }
#custom_urls_tab .nav li a:hover { background-color: #ccc; color:#fff }

#custom_urls_tab ul { list-style:none; margin-left:0px !important ;margin-top:0px !important }
#custom_urls_tab ul li a { display: inline; border-bottom: 1px solid #E7E5DC; padding: 4px; font-weight:bold; }
#custom_urls_tab ul li a:hover, #custom_urls_tab ul li a:focus { font-weight:bold; }
#custom_urls_tab ul li:last-child a { border: none; }

#custom_urls_tab li.nav-one a.current, ul.allentries li a:hover { background-color: #E7E5DC; color:#000; }
#custom_urls_tab li.nav-two a.current, ul.admin li a:hover { background-color: #E7E5DC;; color:#000; }
#custom_urls_tab li.nav-three a.current, ul.library li a:hover { background-color: #E7E5DC; colo:r#000; }
#custom_urls_tab li.nav-four a.current, ul.myentrys li a:hover { background-color: #E7E5DC; color:#000; }
#custom_urls_tab li.nav-five a.current, ul.searchresults li a:hover { background-color: #E7E5DC; color:#000; }

/* Generic Utility */
#page-admin-local-customurls-edit .hide { position: absolute; top: -9999px; left: -9999px; }

.usual {
    margin-bottom: 8px;
    margin-top: 8px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.usual li {
    float: left;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
.usual ul a {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -moz-text-blink: none !important;
    -moz-text-decoration-color: -moz-use-text-color !important;
    -moz-text-decoration-line: none !important;
    -moz-text-decoration-style: solid !important;
    background-attachment: scroll;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
}
.usual ul a:hover {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #111111;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #FFFFFF;
}
.usual ul a.selected {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: snow;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: snow;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #000000;
    cursor: default;
    margin-bottom: 0;
}
.usual div {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -x-system-font: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: snow;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    clear: left;
    padding-bottom: 8px;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 10px;
}
.usual div a {
    color: #000000;
    font-weight: bold;
}
#usual2 {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #0A0A0A;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #1A1A1A;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #1A1A1A;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #1A1A1A;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #1A1A1A;
    border-top-style: solid;
    border-top-width: 1px;
}
#usual2 a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #222222;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
#usual2 a:hover {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #000000;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
#usual2 a.selected {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: snow;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
#tabs3 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFF99;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

div.object_error{
	background-color: #f4f4f4;
}
