{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_customurls/fourohfour

    Template to render a 404 page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * backgroundurl url for background image
    * fourohfourmessage Defined message to display
    * searchbox Course search box
    * messagebtn Button is displayed if logged in.

    Example context (json):
    {
        "backgroundurl": "https://example.com/pluginfile/pathtoimage",
        "fourohfourmessage": "Page not found",
        "searchbox": "<form>Search form ...</form>",
        "messagebtn": {
            "messagehelp": "Help text",
            "messagebtn": "<button>Help</button>"
        }
    }
}}
<div class="local_customurls-container container-fluid pt-5" style="background-image: url({{backgroundurl}});">
    <div class="local_customurls-contentarea">
        <h3>{{#str}}pagenotfound, local_customurls{{/str}}</h3>
        {{{fourohfourmessage}}}
        {{{searchbox}}}
        {{#messagebtn}}
            <p>{{messagehelp}}</p>
            {{{messagebtn}}}
        {{/messagebtn}}

    </div>
</div>
