<div class="local_customurls-container container-fluid pt-5" style="background-image: url({{backgroundurl}});">
    <div class="local_customurls-contentarea">
        <h3>{{#str}}pagenotfound, local_customurls{{/str}}</h3>
        {{{fourohfourmessage}}}
        {{{searchbox}}}
        {{#messagebtn}}
            <p>{{messagehelp}}</p>
            {{{messagebtn}}}
        {{/messagebtn}}

    </div>
</div>
